.photograph {
	width: 100%;
	height:30em;
	background-image: url();
	background: url("pictures/hopping.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
	margin-bottom: 1em;

}
