ul {
	position:absolute;
	top:13.5em;
	left:16.8%;
}
h1 {
	border: 0px;
	margin-top: 0.4em;
	margin-left: 0.26em;
	
	width: 66.5%;
	padding-bottom: 0.1em;
}
h2 {
	font-size:1.8em;
	padding-bottom: 0.2em;
	border-bottom: 1px solid gray;
	width: 79%;
}
.container li {
	margin-top: 1em;
	margin-left: 1em;
	
}
p {
	margin-top: 1em;
	width: 70%;
	margin-left: 5em;
}
.last {
	padding-bottom: 5em;
}