
.thread, .post, .left, .right, .post a {
  border-radius: 35px;
}

.thread h1 {
  font-size: 2em;
  padding: 3%;
}

.thread{
  position: relative;
  top: 125px;
  max-width: 57%;
  min-height: 100%;
  margin: 0 auto;
  text-align: justify;
  background: white;
  color: #2a2a2a;
  margin-bottom: 50px;
}

.thread:after{
  content:'';
  display: inline-block;
  width: 100%;
}

.post{
  position: relative;
  width: 100%;
  min-width: 33%;
  display: inline-block;
  vertical-align: top;
  height: 25%;
  margin: 0;
  margin-bottom: 1%;
  border-bottom: 1px solid #2a2a2a;
  border-right: 1px solid #2a2a2a;
  border-left: 1px solid #2a2a2a;
}

.left , .right {
  position: relative;
  border-top: 1px solid #2a2a2a;
}

.left {
  width: 15%;
    float: left;
    text-align: center;
    padding-bottom: 20px;
}

.right {
  margin-left: 15%;
}

.left img{
  width: 70%;
  border-radius: 50%;
  border: 1px solid black;
  margin-top: 7%;
  max-height: 116px;
}

.left p {
    font-style: italic;
    padding: 1%;
}

.left .time {
  margin-top: 7%;
  padding: 2%;
  margin-bottom: 7%;
}

.right p {
  margin: 1.5em;
}

.post ul {
  position: relative;
  float: right;
  margin-right: 20px;
  margin-bottom: 20px;
}

.post li {
  display: inline-block;
}

.thread a:link {
    font-style: italic;
    color: #2a2a2a;
    padding: 10px;
}

.thread a:visited {
  color: #2a2a2a;
}

.thread a:hover {
  border-top: 1px solid #2a2a2a;
  border-bottom: 1px solid #2a2a2a;
}

.rating {
  margin-right: 18px;
}

.rating span {
	font-size: 20px;
	color: #2a2a2a;
	cursor: pointer;
}

.rating span:hover:before {
	content: "\2605";
	position: absolute;
	color: #2a2a2a;
}


.tg  {
  position: relative;
  top: 150px;
  margin: 0 auto;
  border: 1px solid #2a2a2a;
  overflow: hidden;
  border-radius: 23px;
}


.tg td {
  padding:2% 1%;
  overflow:hidden;
  word-break:normal;
  border-right: 1px solid #2a2a2a;
  border-bottom: 1px solid #2a2a2a;
}




.tg th{
  padding:2% 1%;
  color: white;
  background: #2a2a2a;
  overflow:hidden;
  word-break:normal;
  font-size:1.3 em;
  border-right: 1px solid white;
}

.tg .tg-s6z2{
  text-align:center;
}

.tg a:link {
  text-decoration: none;
	color: #2a2a2a;
}
.tg a:visited {
  text-decoration: none;
	color: #2a2a2a;
}

.tg a:hover {
  color:grey;
}
.highlight {
    background-color: #515151;
    height:2.85em;
    width:4.5em;
	margin-left: 0.5em;
}
