
.contant{	
    z-index: -1;
	position:absolute;
    top:8em;
	
    font-family: "Arial";
    width:15%;
    height:100%;
}

 .contant h1 {
    position:absolute;
     font-size:3em;
    left:18%;
	
}

 .contant h2 {
    position:absolute;
    top:8%;
    left:18%;
    font-size:1.5em;
    width: 65%;
    
}

img {
    height:70%;
    width:90%;
}



.image1{
	position:absolute;
    top:10em;
    left:21%;
}

.image2{
	position:absolute;
    top:10em;
    left: 55.5%;
}

.image3{
	position:absolute;
    top:45em;
	left:21%;
}

.image4{
	position:absolute;
    top:45em;
    left:55.5%;
}

.image5{
	position:absolute;
    top:80em;
    left:21%;
}

.image6{
	position:absolute;
    top:80em;
    left:55.5%;
}

.tutorials p{
    font-size:1.5em;
    width:90%;
}

.tutorials h3{
   width:90%;
   padding-top: 1em;
}

.tutorials, .contant {
    height:100%;
    width:100%;
}

.tutorials div {
    display: inline-block;
    width:26%;
    height:50%;
}

.last {
    padding-bottom:8em;

}

.contant a:link {
    text-decoration: none;
	color: black;
}
.contant a:visited {
    text-decoration: none;
	color: black;
}
.contant a:hover {
	color:black;
}
.contant a {
	color: black;
}

.highlight {
    background-color: #515151;
    height:2.85em;
    width:5.3em;
	
}